<!--Mientras la persona esta esperando que se muestre la información
    quiero mostrar un loading-->
<!--Ahora si no validamos nos va a arrojar error porque el pais como sabemos esta en null
    entonces preguntamos si el pais no existe-->
<div *ngIf="!pais; else divPais"
    class="alert alert-info">
    Espere por favor...
</div>

<!--Ahora si voy a colocar donde se va a mostrar la información del pais-->
<ng-template #divPais>

    <div class="row">
        <div class="col-12">
            <h1>País: <small>{{ pais.name.common }}</small></h1>
        </div>
    </div>

    <div class="row">

        <div class="col-4">
            <h3>Bandera</h3>
            <img class="img-thumbnail" [src]="pais.flags.png">
        </div>

        <div class="col">
            <h3>Información</h3>
            <ul class="list-group">

                <li class="list-group-item">
                    <strong>Población</strong> {{ pais.population | number }}
                </li>

                <li class="list-group-item">
                    <strong>Códgio Numérico</strong> {{ pais.ccn3 }}
                </li>

                <li class="list-group-item">
                    <strong>Código Alpha3</strong> {{ pais.cca3 }}
                </li>

            </ul>
        </div>

    </div>

    <h3>Traducciones</h3>
    <div class="row">

        <div class="col">
            <span
                *ngFor="let trans of pais.translations | keyvalue"        
                class="badge bg-primary mr-5">          
                {{ trans.value.official }}   
            </span>
        </div>

    </div>

    <div class="row">
        <h3 class="mt-3">Visualizar Objeto JSON Usando El Pipe json De Angular</h3>
        <div class="col ratio ratio-1x1">
        <pre class="mt-2">
            {{ pais | json }}
        </pre>
    </div>
    </div>

</ng-template>