<h2>Reactivos: <small>Switches</small></h2>
<hr>

<form>

    <!-- Radio -->
    <div class="row mb-3">
        
        <label class="col-sm-3 col-form-label">Género</label>
        <div class="col-sm-9">

            <div class="form-check">

                <!--El name lo mantenemos para que sepa a que elemento esta haciendo referencia-->
                <input class="form-check-input" 
                       type="radio"
                       value="M"
                       name="radioGenero" 
                       id="radioMaculino">

                <label class="from-check-label" for="radioMaculino">
                    Masculino
                </label>
            </div>

            <div class="form-check">

                <!--El name lo mantenemos para que sepa a que elemento esta haciendo referencia-->
                <input class="form-check-input" 
                       type="radio" 
                       value="F"
                       name="radioGenero" 
                       id="radioFemenino">
                
                <label class="form-check-label" for="radioFemenino">
                    Femenino
                </label>

            </div>

        </div>

    </div>

    <!-- Switch -->
    <div class="row mb-3">
        
        <label class="col-sm-3 col-form-label">Notificaciones</label>
        <div class="col-sm-9">

            <div class="form-check form-switch mt-2">

                <input class="form-check-input" 
                       type="checkbox"
                       role="switch" 
                       id="flexSwitchCheckChecked">

                <label class="form-check-label" for="flexSwitchCheckChecked">Quero recibir notificaciones</label>
            
            </div>

        </div>

    </div>

    <!-- Checkbox -->
    <div class="row mb-3">
        
        <label class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">

            <div class="form-check">
                <input class="form-check-input" 
                       type="checkbox"
                       id="defaultCheck1">
                
                <label class="form-check-label" for="defaultCheck1">
                    Terminos y condiciones de uso
                </label>
            </div>

        </div>

    </div>

    <!--Botón submit-->
    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end">
                Guardar
            </button>
        </div>
    </div>

</form>

<!-- <h5>Valor del formulario</h5>
<pre>{{ miFormulario.value | json }}</pre>
<br>

<h5>Persona</h5>
<pre>{{ persona | json }}</pre>
<br>

<h5>Valid</h5>
<pre>{{ miFormulario.valid }}</pre>
<br>

<h5>Terminos y Condiciones</h5>
<pre>{{ miFormulario.controls['terminosYCondiciones']?.errors | json }}</pre>
<br> -->
