<!--En este caso anteriormente estabamso usando un id pero tenemos el inconveniente que si se tiene más de un elemento
    va a chocar y se van a generar conflicto, entonces lo ideal sería usar una referencia local (llamada #mapa) la cual 
    va a cambiar dependiendo del componente-->
<div #mapa class="mapa-container">

</div>

<div class="row">
    <div class="col-12">
        <label class="form-label">
            Zoom: {{ zoomLevel | number: '2.2-2' }} <!--Usamos el pipe number y le decimo que queremos 2 enteros con especificamente 2 decimales siempre-->
            - lng, Lat: [123, 456]
        </label>
        <input type="range" class="form-range">
    </div>

    <div class="col-12">

        <button class="btn btn-primary"
                (click)="zoomOut()">
            -
        </button>

        <button class="btn btn-primary float-end"
                (click)="zoomIn()">
            +
        </button>
    </div>
</div>