
<div class="limiter">
    <div class="container-login100" style="background-image: url('../../../../assets/images/bg-01.jpg');">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">

            <!--NOTA: Para el login y el registro estructuralmente los formularios son muy parecidos-->
            <!--Como el main component se divide en 2 partes, que son el register y el login
                entonces si queremos que estos componentes se muestren es necesario colocar 
                el router outlet-->
            <router-outlet></router-outlet>
            
        </div>
    </div>
</div>
