<!--En esta aplicación vamos a integrar una librería que es escrita solo en JavasCript llamada Mapbox
    a Angular el cual sabemos que trabaja con TypeScript, pero como sabemos una gran parte de TypeScript 
    es compatible con JavaScript por lo tanto no tendremos problemas al integrarla.
    Adicionalmente el enlace a la pagina para trabajar con la API de Mapbox es: https://www.mapbox.com/ y vamos a
    trabajar con Mapbox porque es una librería gratuita hasta cierto punto que no requiere de colocar tarjeta de credito desde que nos 
    registramos a diferencia de Google maps, otra ventaja es que la librería de Mapbox es muy similar a la de Google entonces en el
    sentido de implementarla no cambiaría demasado la una de la otra-->
<router-outlet></router-outlet>