<!--
  ===================================
  NOTA INSTALACIÓN PRIMEFLEX
  ===================================
    Para comenzar a usa PrimeFlex (Versión 3 en este caso) tenemos que instalar el paquete usando los siguientes comandos: 
    
    npm install primeflex --save
    
    Adicionalmente es necesario copiar y pegar el style que nos indican en la documentación en el archivo
    angular.json dentro del objeto styles
    
    node_modules/primeflex/primeflex.css
    
    Adicionalmente este es el enclace que nos lleva a la documentaión oficial 
    para el uso de PrimeFlex: https://www.primefaces.org/primeflex/setup

    ===============================================================================================================
-->

<!--Usamos la clase text-layout que creamos en el archivo styles.css para el uso del color propio del tema vala blue de
    PrimeNg que elegimos -->
<div class="text-layout">
    <h1>Pipes Básicos</h1>
    <p>
        Pies incluidos en Angular - Usualmente en el Common Module.
    </p>
</div>

<!--Ahora usando las clases de flexbox grid disponibles dentro de PrimeNg creamos los contenedores
    y demás elementos que necesitemos-->

<div class="grid">

    <div class="col-4">
        <p-card header="uppercase"
        [subheader]="nombreLower | uppercase">
        {{ nombreLower | uppercase }}
        </p-card>
    </div>

    <div class="col-4">
        <p-card header="lowercase"
        [subheader]="nombreLower | lowercase">
        {{ nombreLower | lowercase }}
        </p-card>
    </div>

    <div class="col-4">
        <p-card header="titlecase"
        [subheader]="nombreCompleto | titlecase">
        {{ nombreCompleto | titlecase }}
        </p-card>
    </div>

</div>

<!--Para conocer más información sobre el pipe date para el manejo de fechas podemos
    ver la documentación oficial en el siguiente enlace: https://angular.io/api/common/DatePipe -->
<div class="text-layout">
    <h1>Date | Fecha | Pipe</h1>
    <p>
        Pipe para mostrar las fechas.
    </p>
</div>

<div class="grid">

    <div class="col-6">
        <p-card>
            <ul>
                <li>fecha</li>
                <li>fecha | date</li>
                <li>fecha | date: 'short'</li>
                <li>fecha | date: 'long'</li>
                <li>fecha | date: 'MMMM'</li>
                <li>fecha | date: 'MMMM dd ,yyyy'</li>
                <li>fecha | date: 'w : W - dd/MM/YY, h:mm:ss - zzzz'</li>
            </ul>
        </p-card>
    </div>

    <div class="col-6">
        <p-card>
            <ul>
                <li>{{ fecha }}</li>
                <li>{{ fecha | date }}</li>
                <li>{{ fecha | date: 'short' }}</li>
                <li>{{ fecha | date: 'long' }}</li>
                <li>{{ fecha | date: 'MMMM' }}</li>
                <li>{{ fecha | date: 'MMMM dd ,yyyy' }}</li>
                <li>{{ fecha | date: 'w : W - dd/MM/YY, h:mm:ss - zzzz' }}</li>
            </ul>
        </p-card>
    </div>

</div>
    