<h1 class="mt-5">Agregar Producto</h1>
<hr>

<form [formGroup]="miFormulario">

    <div class="row g-3 align-items-center mb-3">

        <div class="col-auto">
            <label class="col-form-label">Nombre:</label>
        </div>

        <div class="col-auto">
            <input class="form-control" type="text"
                   formControlName="nombre">
        </div>

        <div class="col-auto">
            <!--Ahora lo que hacemos es asignar la directiva error-msg para que este span herede
                todo lo que la directiva ofrezca-->
            <!--Entonces para mandarle el color le establecemos la propiedad correspondiente al input que tenemos definido,
                por lo tanto solo mandamos el color y le asignamos el correspondiente color. Adicionalmente también podemos 
                usarlo mandando [color] entre llaves para hacer referencia a una propiedad que tengmaos en el componente de 
                TypeScript-->
            <!--Adicionalmente como asignamos valor por defecto al color, al mensaje y la clase no sería necesario enviarlos a no ser de que quisieramos
                que el usuario tuviera control y los pudiera cambiar. Y para efectos ilustrativos voy a dejar el color, el mensaje y la clase si la voy
                a quitar ya que del lado del la directiva ya esta asignado y explicado como se realizo. Pero reitero que ya no es necesario colocarlos ya
                que tienen sus valores por defecto y este span simplemente podría quedar con la directiva y el *ngIf-->
            <span error-msg
                  color="red"
                  mensaje="Debe de ingresar este campo"
                  *ngIf="tieneError('nombre')">
            </span>
        </div>

        <div class="row mt-3">
            <div class="col">
                <button class="btn btn-primary">
                    Guardar
                </button>
            </div>
        </div>

    </div>

</form>

<!--Ahora podemos usar la directiva en cualquier logar simplemente llamandola-->
<h3 class="mt-5">Formulario</h3>
<pre>Value: {{ miFormulario.value | json }}</pre>
<pre>Valid: {{ miFormulario.valid }}</pre>