<div class="row container mt-4">

    <div class="col-3">
        <h2>Busquedas</h2>
        <hr>
        <ul class="list-group">
            <li class="list-group-item">Buscar País</li>
            <li class="list-group-item">Por Región</li>
            <li class="list-group-item">Por Capital</li>
        </ul>
    </div>

    <div class="col">
        <!--Ahra para cambiar la página dependiendo de la ruta en la que me encuentro vamos a usar un 
            componente que el RouterModule nos exporta y es propio de Angular-->
            <router-outlet></router-outlet>
    </div>

</div>