<h2>Por País</h2>
<hr>

<div class="row">
    <div class="col">
        <!--El autocomplete="off" evita que me muestre sugerencias-->
        <!--También menjamos el posteo (cuando da enter) con el evento ngSubmit-->
        <!--Usamos el ngmodel en el input para el manejo del formulario sin olvidarnos que hay que importar el FormsModule en el pais.module.ts-->
        <form (ngSubmit)="buscar()" autocomplete="off">
            <input class="form-control" 
                   type="text" 
                   name="terminoBusqueda" 
                   [(ngModel)]="terminoBusqueda"
                   placeholder="Buscar País...">
        </form>
    </div>
</div>

<hr>

<!--Colocamos un tipo de error o retroalimentación en caso de que el término
    de búsqueda no exista-->
<div *ngIf="hayError" 
    class="alert alert-danger">
    No Se Encontro Nada Con El Término {{ terminoBusqueda }}
</div>

<!--Entonces si no tenemos un error lo que vamos a mostrar es esto-->
<!--Ahora mostramos la tabla si no hay error, lo cual lo vamos a hacer con un
    ngIf pero esto se podría hacer con un ng-template-->
<div *ngIf="!hayError" class="row">
    <div class="col">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th> # </th>
                    <th> Bandera </th>
                    <th> Nombre </th>
                    <th> Población </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Bandera</td>
                    <td>Nombre</td>
                    <td>12345</td>
                    <td>
                        <a href="/pais/col">Ver...</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>