<h2>Por País</h2>
<hr>

<div class="row">
    <div class="col">
        <!--El autocomplete="off" evita que me muestre sugerencias-->
        <!--También menjamos el posteo (cuando da enter) con el evento ngSubmit-->
        <!--Usamos el ngmodel en el input para el manejo del formulario sin olvidarnos que hay que importar el FormsModule en el pais.module.ts-->
        <app-pais-input
            (onEnter)="buscar( $event )"
        ></app-pais-input>
    </div>
</div>

<hr>

<!--Colocamos un tipo de error o retroalimentación en caso de que el término
    de búsqueda no exista-->
<div *ngIf="hayError" 
    class="alert alert-danger">
    No Se Encontro Nada Con El Término {{ terminoBusqueda }}
</div>

<!--Entonces si no tenemos un error lo que vamos a mostrar es esto-->
<!--Ahora mostramos la tabla si no hay error, lo cual lo vamos a hacer con un
    ngIf pero esto se podría hacer con un ng-template-->
<div *ngIf="paises.length > 0" class="row">
    <div class="col">
        <!--La información no se va a mostrar hasta que yo no la envíe y lo hacemos
            agregando el [paises]="paises" al componente-->
        <app-pais-tabla [paises]="paises" ></app-pais-tabla>
    </div>
</div>