<div class="animate__animated animate__fadeIn animate__faster">

    <h2>Por País</h2>
    <hr>

    <div class="row">
        <div class="col">
            <!--El autocomplete="off" evita que me muestre sugerencias-->
            <!--También menjamos el posteo (cuando da enter) con el evento ngSubmit-->
            <!--Usamos el ngmodel en el input para el manejo del formulario sin olvidarnos que hay que importar el FormsModule en el pais.module.ts-->
            <app-pais-input
                (onEnter)="buscar( $event )"
                (onDebounce)="sugerencias( $event )"
                placeholder="Buscar país..."
            ></app-pais-input>
        </div>
    </div>
    
    <!--Contruimos la caja donde se van a mostrar la sugetencias-->

    <ul *ngIf="mostrarSugerencias"
        class="list-group">
        <!--Agregamos la clase de bootstrap list-group-item-action para que se pueda hacer click en el list-->
        <li *ngFor="let pais of paisesSugeridos"
            class="list-group-item list-group-item-action">
            <a class="nav-link"
                [routerLink]="['/pais', pais.cca2]">
                {{ pais.name.common }}
            </a>
        </li>
        <li class="list-group-item list-group-item-action"
            (click)="buscarSugerido( terminoBusqueda )">
            <a class="nav-link">
                Buscar "{{ terminoBusqueda }}"
            </a>
        </li>
    </ul>

    <hr>

</div>

<!--Colocamos un tipo de error o retroalimentación en caso de que el término
    de búsqueda no exista-->
<div *ngIf="hayError" 
    class="alert alert-danger">
    No Se Encontro Nada Con El Término {{ terminoBusqueda }}
</div>

<!--Entonces si no tenemos un error lo que vamos a mostrar es esto-->
<!--Ahora mostramos la tabla si no hay error, lo cual lo vamos a hacer con un
    ngIf pero esto se podría hacer con un ng-template-->
<div *ngIf="paises.length > 0" class="row">
    <div class="col">
        <!--La información no se va a mostrar hasta que yo no la envíe y lo hacemos
            agregando el [paises]="paises" al componente-->
        <app-pais-tabla [paises]="paises" ></app-pais-tabla>
    </div>
</div>