<!--Usamos la clase text-layout que creamos en el archivo styles.css para el uso del color propio del tema vala blue de
    PrimeNg que elegimos -->
<!--NOTA: Para ver documentación respecto al fieldset podemos visitar el siguiente enlace:
          https://primefaces.org/primeng/fieldset -->

<div class="text-layout">
    <h1>Pipes No Tan Comunes</h1>
    <p>
        Pipes incluidos en Angular - Usualmente en el Common Module.
    </p>
</div>

<div class="grid">
    <!--NOTA: El pipe i18nSelect sirve para elegir una serie de opciones la que coincida con el argumento
              que se este enviando, como en el siguiente ejemplo que se tiene para elegir la palabra correcta
              dependiendo el genero de la persona. 
        
              Para conocer más sobre el pipe i18nSelect podemos visitar la documentación oficial
              en el siguiente enlace: https://angular.io/api/common/I18nSelectPipe -->
    <div class="col-12 md:col-6">
        <p-fieldset legend="i18nSelect Pipe" 
                    [toggleable]="true">
            <p>
                Saludos {{ nombre }}, es un placer 
                {{ genero | i18nSelect: invitacionMapa }} 
                a nuestro evento.
            </p>
            <!--Creamos un botón-->
            <button pButton type="button" 
                    pRipple
                    class="p-button-warning p-button-raised p-button-rounded p-button-outlined"
                    label="Cambiar Persona"
                    icon="pi pi-refresh"
                    iconPos="right"
                    (click)="cambiarCliente()">
            </button>
        </p-fieldset>
    </div>

        <!--NOTA: Para conocer más sobre el pipe i18nSelect podemos visitar la documentación oficial
                  en el siguiente enlace: https://angular.io/api/common/I18nPluralPipe -->
    <div class="col-12 md:col-6">
        <p-fieldset legend="i18nPlural Pipe" 
                    [toggleable]="true">
            <p>
                Actualmente {{ clientes.length | i18nPlural: clientesMapa }}
            </p>
            <!--Creamos un botón-->
            <button pButton type="button" 
                    pRipple
                    class="p-button-danger p-button-raised p-button-rounded p-button-outlined"
                    label="Borrar Cliente"
                    icon="pi pi-minus"
                    iconPos="right"
                    (click)="borrarCliente()">
            </button>
        </p-fieldset>
    </div>

    <!--NOTA: El siguiente pipe es el slice el cual nos permite dividir expresiones como stings,
              arreglos o lo que queramos cortar. Para más información podemos revisar la documen-
              tación en: https://angular.io/api/common/SlicePipe -->
    <div class="col-12 md:col-6">
        <p-fieldset legend="Slice Pipe" [toggleable]="true">
            <b>Original</b>
            <!--Esta etiqueta pre hace que aparezca estilo codigo-->
            <pre>{{ clientes }}</pre>
            
            <b>Slice: 0: 2</b>
            <!--Entonces lo que hace el slice es indicar que quiero de la posición cero y quiero que llegue hasta 
                la posición 2 excluyendo la posición 2, es dicir ambos valores son posiciones indice e indican el 
                inicio y el fin-->
            <pre>{{ clientes | slice: 0: 2 }}</pre>

            <b>Slice: 1:2</b>
            <pre>{{ clientes | slice: 1: 2 }}</pre>

            <b>Slice: 1: 3</b>
            <pre>{{ clientes | slice: 1: 3 }}</pre>

            <b>Slice: 3: 4</b>
            <pre>{{ clientes | slice: 3: 4 }}</pre>

            <b>Slice: 0: 4</b>
            <pre>{{ nombre | slice: 0: 4 }}</pre>

        </p-fieldset>
    </div>

    <!--El pipe json nos permite conviertir un valor en su representación en formato JSON.
        Útil para la depuración. Para más información al respecto sobre dicho pipe podemos
        visitar el siguiente enlace: https://angular.io/api/common/JsonPipe 
    NOTA: El pipe json tiene una limitante y la cual es que si el objeto tiene funciones y
          esas funciones imprimen otros objetos o regresan algo eso no lo podría graficar-->
    <div class="col-12 md:col-6">
        <p-fieldset legend="Json Pipe" [toggleable]="true">
            <pre>
                {{ heroes | json }}
            </pre>
        </p-fieldset>
    </div>

    <!--El pipe keyvalue nos sirve para mostrar algún objeto literal de JavaScript en el html
        o trabajar con sus propiedades. Para más información con respecto a este pipe podemos
        visitar el siguiente enlace: https://angular.io/api/common/KeyValuePipe -->
    <div class="col-12 md:col-6">
        <p-fieldset legend="KeyValue Pipe" [toggleable]="true">
            <ul>
                <li *ngFor="let item of persona | keyvalue">
                    <b>{{ item.key | titlecase }}:</b> {{ item.value }}
                </li>
            </ul>
        </p-fieldset>
    </div>

</div>