<!--Usamos la clase text-layout que creamos en el archivo styles.css para el uso del color propio del tema vala blue de
    PrimeNg que elegimos -->
<!--NOTA: Para ver documentación respecto al fieldset podemos visitar el siguiente enlace:
          https://primefaces.org/primeng/fieldset -->

<div class="text-layout">
    <h1>Pipes No Tan Comunes</h1>
    <p>
        Pipes incluidos en Angular - Usualmente en el Common Module.
    </p>
</div>

<div class="grid">
    <!--NOTA: El pipe i18nSelect sirve para elegir una serie de opciones la que coincida con el argumento
              que se este enviando, como en el siguiente ejemplo que se tiene para elegir la palabra correcta
              dependiendo el genero de la persona. 
        
              Para conocer más sobre el pipe i18nSelect podemos visitar la documentación oficial
              en el siguiente enlace: https://angular.io/api/common/I18nSelectPipe -->
    <div class="col-12 md:col-6">
        <p-fieldset legend="i18nSelect Pipe" 
                    [toggleable]="true">
            <p>
                Saludos {{ nombre }}, es un placer 
                {{ genero | i18nSelect: invitacionMapa }} 
                a nuestro evento.
            </p>
            <!--Creamos un botón-->
            <button pButton type="button" 
                    pRipple
                    class="p-button-warning p-button-raised p-button-rounded p-button-outlined"
                    label="Cambiar Persona"
                    icon="pi pi-refresh"
                    iconPos="right"
                    (click)="cambiarCliente()">
            </button>
        </p-fieldset>
    </div>

        <!--NOTA: Para conocer más sobre el pipe i18nSelect podemos visitar la documentación oficial
                  en el siguiente enlace: https://angular.io/api/common/I18nPluralPipe -->
    <div class="col-12 md:col-6">
        <p-fieldset legend="i18nPlural Pipe" 
                    [toggleable]="true">
            <p>
                Actualmente {{ clientes.length | i18nPlural: clientesMapa }}
            </p>
            <!--Creamos un botón-->
            <button pButton type="button" 
                    pRipple
                    class="p-button-danger p-button-raised p-button-rounded p-button-outlined"
                    label="Borrar Cliente"
                    icon="pi pi-minus"
                    iconPos="right"
                    (click)="borrarCliente()">
            </button>
        </p-fieldset>
    </div>

</div>