<!--En este proyecto vamos a trabajar con graficas en Angular para ver la documentación
    referente a la librería usada para dibujar y presentar las gráficas podemos visitar 
    el siguiente enlace: https://valor-software.com/ng2-charts/ -->

<!--NOTA: Adicionalmente trabajamos usando Bootstrap pero bien podríamos hacerlo con primeng, angular-material
          u otro que es tailwind css la cual su documentación la encontramos en el siguiente enlace:
          https://tailwindcss.com/ -->
<h1>Hola Mundo!!!...</h1>

<router-outlet></router-outlet>