<!--Basicamente estos formularios están relacionados a que seamos capaces de mantener
    la información a pesar de que necesitemos que un objeto vaya creciendo con más campos
    y más valores pero de forma dinámica-->
<h2>Reactivos: <small>Dinámicos</small></h2>
<hr>

<form autocomplete="off"
      [formGroup]="miFormulario">

    <!--Nombre-->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">

            <input class="form-control" 
                   placeholder="Nombre de la persona"
                   formControlName="nombre">

            <span class="form-text text-danger"
                  *ngIf="campoEsValido( 'nombre' )">
                 Este Campo es obligatorio
             </span>

        </div>

    </div>

    <!--Agregar favorito-->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Agregar</label>
        <div class="col-sm-9">

            <div class="input-group">

                <!--Ahora para que envíe el evento que en este caso es agregar favorit cuando presione enter
                    vamos a usar el evento keyup.enter-->
                <input class="form-control" 
                       placeholder="Agregar favorito"
                       (keyup.enter)="1">
                
                <button class="btn btn-outline-primary"
                        type="button"
                        (click)="1">
                    Agregar
                </button>

            </div>

        </div>

    </div>

    <!--Lista de Juegos Favoritos-->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Favoritos</label>
        <div class="col-sm-9" formArrayName="favoritos">

            <div class="input-group mb-1"
                 *ngFor="let favorito of favoritosArr.controls; let i = index">

                <input class="form-control"
                       [formControlName]="i">

                <button class="btn btn-outline-danger"
                       type="button">
                   Eliminar
                </button>

            </div>

        </div>

    </div>

    <!--Botón guardar-->
    <div class="row">
        <div class="col-sm-12">
            <button type="button"
                    class="btn btn-primary float-end"
                    (click)="guardar()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"></path>
                    </svg>
                Guardar
            </button>
        </div>
    </div>

</form>

<span>Valid</span>
<pre>{{ miFormulario.valid }}</pre>
<br>

<span>Value</span>
<pre>{{ miFormulario.value | json }}</pre>

<!-- <span>Persona</span>
<pre>{{ persona | json }}</pre> -->