<!--Como obtener la geolocalización no es un proces síncrono y no es instantaneo ocupamos
    esperar hasta que tengamos la geolocalización del usuario, entonces para esto creamos
    este componente que va a indicarle al usuario que esta cargando y que por favor espere
    y no va a poder hacer nada más hasta que tengamos toda la información-->
<div class="loading-map d-flex justify-content-center align-items-center">

    <div class="text-center">
        <h3>Espere por favor...</h3>
        <span>Localizando...</span>
    </div>

</div>